<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Maintenance</title>
    <!-- No Bootstrap -->

</head>
<body>

<div th:switch="${users}" style="margin-top: 50px;">
    <div style="margin: 0 auto; max-width: 800px; text-align: center;">
        <h2 th:case="null">No Maintenance yet!</h2>
        <div th:case="*">
            <h2 style="margin-bottom: 30px;">Maintenance List(Admin)</h2>
            <table style="width: 100%; border-collapse: collapse; border: 1px solid #ccc;">
                <thead>
                <tr>
                      <th style="padding: 10px; border: 1px solid #ccc;">Ticket no.</th></a>
                    <th style="padding: 10px; border: 1px solid #ccc;">Report Date</th>
                    <th style="padding: 10px; border: 1px solid #ccc;">Due Date</th>
                    <th style="padding: 10px; border: 1px solid #ccc;">Asset Name</th>
                    <th style="padding: 10px; border: 1px solid #ccc;">Status</th>
                    <th style="padding: 10px; border: 1px solid #ccc;">Remarks</th>
                    <th style="padding: 10px; border: 1px solid #ccc;">Assigned to</th>
                    <!--                    <th style="padding: 10px; border: 1px solid #ccc;">Description</th>-->
                    <th style="padding: 10px; border: 1px solid #ccc;">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="emp: ${users}">
                    <td style="padding: 10px; border: 1px solid #ccc;">
                        <a th:href="@{'/ticketDetails?ticketNo=' + ${emp.ticketNo}}"> <!-- Link to ticket details -->
                            <span th:text="${emp.ticketNo}"></span>
                        </a>
                    </td>
                    <td style="padding: 10px; border: 1px solid #ccc;" th:text="${emp.publishDate}"></td>
                    <td style="padding: 10px; border: 1px solid #ccc;" th:text="${emp.dueDate}"></td>
                    <td style="padding: 10px; border: 1px solid #ccc;" th:text="${emp.nameOfAsset}"></td>
                    <td style="padding: 10px; border: 1px solid #ccc;" th:text="${emp.status}"></td>
                    <td style="padding: 10px; border: 1px solid #ccc;" th:text="${emp.Description}"></td>
                    <td style="padding: 10px; border: 1px solid #ccc;" th:text="${emp.assignedTo}"></td>
                    <!--                    <td style="padding: 10px; border: 1px solid #ccc;" th:text="${emp.Description}"></td>-->
                    <td style="padding: 10px; border: 1px solid #ccc;">
                        <a th:href="@{'/AdminEdit/' + ${emp.id}}" style="text-decoration: none; color: #007bff; margin-right: 10px;"><button type="submit" style="background-color: transparent; border: none; cursor: pointer; color: #007bff;">Assign/Edit</button></a>
                        <form th:action="@{'/Admindelete/' + ${emp.id}}" method="post" style="display: inline-block;">
                            <button type="submit" style="background-color: transparent; border: none; cursor: pointer; color: #007bff;">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--        <p style="margin-top: 50px;"><a href="/MaintEntry" style="text-decoration: none; color: #007bff; padding: 10px 20px; border-radius: 5px; border: 1px solid #007bff;"><i class="fas fa-user-plus" style="margin-right: 5px;"></i>Add Maintenance</a></p>-->
    </div>
</div>

</body>
</html>
