<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <!-- Include Bootstrap CSS for layout -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <title>Emd Monitoring</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.eryery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<body layout:fragment="content" onload="getDaysFunction(),steperror()">
<div class="container mt-5">
    <h2>EMD Monitoring Form</h2>
    <form th:action="@{/emd-monitoring}" th:object="${emdMonitoring}" method="post">
        <input type="hidden" th:field="${id}" />

        <input type="hidden" id="stepError" th:value="${stepError}">

        <div class="row mb-2"  th:object="${tender}">
            <div class="col-md-3">
                <input type="hidden" class="form-control" th:value="${tender.id}"  id="tenderNumber" name="tenderNumber" required>
            </div>
        </div>
        <div class="row mb-2"  th:object="${feeApproval}">
            <div class="col-md-3">
                <input type="hidden" class="form-control" th:value="${feeApproval.id}"  required>
            </div>
        </div>
        <div class="row mb-2"  th:object="${bidEvaluation}">
            <div class="col-md-3">
                <input type="hidden" class="form-control" th:value="${bidEvaluation.id}"   required>
            </div>
        </div>

        <div class="row mb-2"  th:object="${commonParameter}">

        </div>

        <div>  <input type="hidden"  th:value="${userId}"  id="userId" name="userId" ></div>


        <!-- EMD Amount -->
        <div class="row mb-3">
            <div class="col-md-2">
            <label class="col-form-label">EMD Amount</label>
            </div>
            <div class="col-md-3">
                <input type="number" maxlength="15"  name="emdAmount" id="emdAmount" th:value="${feeApproval.EMDFee}"  class="form-control" readonly />
            </div>

            <div class="col-md-2 ml-3">
                <label class="col-form-label">Mode of Payment</label>
            </div>
            <div class="col-md-3">
                <input type="text" maxlength="30" name="modeOfPayment" id="modeOfPayment" th:value="${feeApproval.EMDFeeModeOfPayment}" class="form-control" readonly />
            </div>
        </div>


        <!-- Instrument No -->
        <div class="row mb-3">
            <div class="col-md-2">
            <label class=" col-form-label">Instrument No</label>
            </div>
            <div class="col-md-3">
                <input type="text" maxlength="30" name="instrumentNo" id="instrumentNo" th:value="${feeApproval.EMDFeeInstument}"  class="form-control" readonly />
            </div>

            <div class="col-md-2 ml-3">
                <label class=" col-form-label">Emd Date</label>
            </div>
            <div class="col-md-3">
                <input type="date" onblur="isValidDateFormat(this.id)" maxlength="30" name="date" id="date" th:value="${feeApproval.EMDFeeDate}" class="form-control" readonly />
            </div>
        </div>



        <!-- EMD Validity -->
        <div class="row mb-3">
            <div class="col-md-2">
            <label class=" col-form-label">EMD Validity</label>
            </div>
            <div class="col-md-3">
                <input type="date" onblur="isValidDateFormat(this.id)" maxlength="30" name="emdValidity" id="emdValidity" th:value="${feeApproval.EMDFeeValidity}" class="form-control" readonly />
            </div>

            <div class="col-md-2 ml-3">
                <label class=" col-form-label">Bid Validity in Days</label>
            </div>
            <div class="col-md-3">
                <input type="text" maxlength="30" name="bidValidityInDays" id="bidValidityInDays" class="form-control" readonly />
            </div>
        </div>


        <!-- Tender Status -->
        <div class="row mb-3">
            <div class="col-md-2">
            <label class=" col-form-label">Tender Status</label>
            </div>
            <div class="col-md-3">
                <input type="text" maxlength="30" name="tenderStatus" id="tenderStatus" th:value="${bidEvaluation.finalStatus}" class="form-control" readonly />
            </div>
            <div class="col-md-2 ml-3">
                <label class=" col-form-label">Tender Date</label>
            </div>
            <div class="col-md-3">
                <input type="date" onblur="isValidDateFormat(this.id)" maxlength="30" name="tenderStatusDate" id="tenderStatusDate" th:value="${bidEvaluation.finalDate}" class="form-control" readonly />
            </div>

            <div class="col-md-2 mt-3">
                <label class=" col-form-label">EMD Status</label>
            </div>
            <div class="col-md-3 mt-3">
                <select name="emdStatus" id="emdStatus" class="form-control">
                    <option value="" disabled selected>Select Status</option>

                    <option value="1">Under Evaluation</option>
                    <option value="2">Merged in SD</option>
                    <option value="3">Pending</option>
                    <option value="4">Refunded</option>
                    <option value="5">Forfeited</option>
                </select>
            </div>
        </div>



        <!-- Operational Branch -->
        <div class="row mb-3">
            <div class="col-md-2">
            <label class=" col-form-label">Operational Branch</label>
            </div>
            <div class="col-md-3">
                <input type="text" maxlength="30" name="operationalBranch" id="operationalBranch" class="form-control"/>
              <input type="hidden" id="operationalBranch_Id" name="operationalBranch_Id">
            </div>

            <div class="col-md-2 ml-3">
                <label class="col-form-label">Branch Manager</label>
            </div>
            <div class="col-md-3">
                <input type="text" maxlength="30" name="branchManager" id="branchManager" class="form-control"/>
                <input type="hidden" id="branchManager_Id" name="branchManager_Id">

            </div>
        </div>


        <!-- Follow-Up Person -->
        <div class="row mb-3">
            <div class="col-md-2">
            <label class="col-form-label">Follow-Up Person</label>
            </div>
            <div class="col-md-3">
                <input type="text" maxlength="30"  name="followUpPerson" id="followUpPerson" class="form-control" />
            </div>

            <div class="col-md-2 ml-3" >
                <label  class="col-form-label">Refund Letter Send</label>
            </div>
            <div class="col-md-3">
                <select name="refundLetterSent" id="refundLetterSent" onchange="toggleVia(this)" class="form-control">
                    <option value="" disabled selected>Select Status</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>

        </div>



        <!-- Via -->
        <div class="row mb-3">
            <div id="viarow" style="display: none;" class="mb-3">
            <div class="col-md-2">
            <label for="via" class=" col-form-label">Via</label>
            </div>
            <div class="col-md-3">
                <select name="via" id="via" class="form-control">
                    <option value="" disabled selected>Select Status</option>
                    <option value="1">Mail</option>
                    <option value="2">Speed Post</option>
                    <option value="3">By Hand</option>
                </select>
            </div>
            </div>

            <div class="col-md-2">
                <label class=" col-form-label">Ageing</label>
            </div>
            <div class="col-md-3">
                <input type="text" maxlength="30"  name="ageing" id="ageing"  class="form-control" readonly />
            </div>
        </div>


        <!-- Concern Authority Details for Refund -->
        <div class="row mb-3">
            <div class="col-md-3">
            <label class=" col-form-label"><strong>Concern Authority Details for Refund</strong></label>
        </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-2">
            <label class="col-form-label">Name</label>
            </div>
            <div class="col-md-3">
                <input type="text" maxlength="30"  name="concernAuthorityName" id="concernAuthorityName" class="form-control" />
            </div>
            <div class="col-md-2 ml-3">
                <label class=" col-form-label">Designation</label>
            </div>
            <div class="col-md-3">
                <input type="text" maxlength="30"  name="concernAuthorityDesignation" id="concernAuthorityDesignation" class="form-control" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2">
            <label class="col-form-label">Contact No.</label>
            </div>
            <div class="col-md-3">
                <input type="number" oninput="  limitDigits(this, 12)"  name="concernAuthorityContactNo" id="concernAuthorityContactNo" class="form-control" />
            </div>

            <div class="col-md-2 ml-3">
                <label class=" col-form-label">Email Id</label>
            </div>
            <div class="col-md-3">
                <input type="email" maxlength="50"  name="concernAuthorityEmail" id="concernAuthorityEmail" class="form-control" />
            </div>
        </div>



        <!-- Follow-up Remarks with Date-Wise Updates -->
        <div class="row mb-3">
            <div class="col-md-2">
            <label class="col-form-label">Follow-up Remarks</label>
            </div>
            <div class="col-md-3">
                <textarea  class="form-control" maxlength="250"  name="remark" id="remark" placeholder="Enter follow-up remarks here..."></textarea>
                <input type="date" style="display:none" id="gdate" th:value="${commonParameter.g_Date}" class="form-control" readonly />
                <input type="date" style="display:none" id="finalDate" th:value="${bidEvaluation.finalDate}" class="form-control" readonly />
                <input type="date" style="display:none" id="bidValidity" th:value="${tender.bidValidity}" class="form-control" readonly />


            </div>
        </div>


        <!-- Submit and Cancel Buttons -->
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary" th:data-url="${cancelUrl}"
                        onclick="navigateToUrl(this)">Cancel</button>
            </div>
        </div>
    </form>
</div>

<!-- Include jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Your JavaScript -->
<script >

    function steperror(){
var error=$("#stepError").val();
if(error!=""&&error!=null){
alert(error);

history.back();
}
}

  function navigateToUrl(button) {
        const url = button.getAttribute('data-url');
        if (url) {
            window.location.href = url;
        }
    }

function limitDigits(input, maxDigits) {
  if (input.value.length > maxDigits) {
    input.value = input.value.slice(0, maxDigits);
  }
}

function toggleVia(that) {
const status = that.value;
const viaRow = document.getElementById('viarow');

if (status === '1') {
    viaRow.style.display = 'flex';
} else {
    const viaInput = document.getElementById('via');
    if (viaInput) {
        viaInput.value = '';
    }
    viaRow.style.display = 'none';
}
}
 <!--operational branch-->


$("#operationalBranch").autocomplete({
  source: function(request, response) {
      $.ajax({
          url: "/searchBranchData",
          data: { query: request.term },
          success: function(data) {
              response(data.map(item => ({
                  label: item.supplier,
                  value: item.suplierId
              })));
          }
      });
  },
  minLength: 2,
  select: function(event, ui) {
      $("#operationalBranch").val(ui.item.label);
      $("#operationalBranch_id").val(ui.item.value);
      return false;
  }
});


   <!-- branch manager -->


$("#branchManager").autocomplete({
  source: function(request, response) {
      $.ajax({
          url: "/searchuserDetails",
          data: { query: request.term },
          success: function(data) {
              response(data.map(item => ({
                  label: item.supplier,
                  value: item.suplierId
              })));
          }
      });
  },
  minLength: 2,
  select: function(event, ui) {
      $("#branchManager").val(ui.item.label);
      $("#branchManager_id").val(ui.item.value);
      return false;
  }
});


function getDaysFunction(){
const bidValidity= $("#bidValidity").val();
const finalDate= $("#finalDate").val();
const gdate= $("#gdate").val();


 const d1 = new Date(gdate);
 const d2 = new Date(finalDate);
 const d3 = new Date(bidValidity);

// Calculate the difference in time (milliseconds)
if(d1>d2){
const diffInTime = Math.abs(d1 - d2);

// Convert time difference to days
const diffInDays = Math.ceil(diffInTime / (1000 * 60 * 60 * 24));
  $("#ageing").val(diffInDays);
}
else{
$("#ageing").val("Invalid Final Date");
}

if(d3>d1){
const diffInTimebid = Math.abs(d3 - d1);

// Convert time difference to days
const diffInDaysbid = Math.ceil(diffInTimebid / (1000 * 60 * 60 * 24));
  $("#bidValidityInDays").val(diffInDaysbid);
}
else{
$("#bidValidityInDays").val("Expired");}


}


</script>
</body>
</html>
