<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Enter Tender Details</title>


</head>
<body layout:fragment="content">
<div class="container">
    <h2 class="mt-5">Fee Approval Details</h2>
    <form action="#" th:action="@{/FeeApprovalSave}" method="post" th:object="${feeApproval}" class="p-3" enctype="multipart/form-data" onsubmit="return validateForm()">
        <div class="row mb-2"  th:object="${tender}">
            <div class="col-md-3">
                <label for="TenderFee">Tender Fee</label>
            </div>
            <div class="col-md-3">
                <input type="hidden" class="form-control" th:value="${tender.id}"  id="tenderNumber" name="tenderNumber" required>
                <input type="number" class="form-control" readonly th:value="${feeApproval != null ? feeApproval.TenderFee : tender.tenderAmount}"  id="TenderFee" name="TenderFee" required maxlength="18">
            </div>
        </div>


        <div class="row mb-2">
            <div class="col-md-3">
                <label for="TenderFeestatus">Tender Fee status:</label>
            </div>
            <div class="col-md-3" th:if="${feeApproval != null}">
                <select id="TenderFeestatus" th:field="${feeApproval.TenderFeestatus}" name="TenderFeestatus" class="form-control" onchange="togglePaymentFields(this)">
                    <option value="" disabled selected>Select Status</option>
                    <option value="1" >Received</option>
                    <option value="0" >Not Received</option>
                </select>

            </div>
            <div class="col-md-3" th:unless="${feeApproval != null}">
                <!-- Alternative code or a message when feeApproval is null -->
                <select id="TenderFeestatus"
                        name="TenderFeestatus"
                        class="form-control"
                        onchange="togglePaymentFields(this)"
                        >
                    <option value="" disabled selected>Select Status</option>
                    <option value="1">Received</option>
                    <option value="0">Not Received</option>
                </select>
            </div>
        </div>
        <div class="row mb-2" id="Tenderfeereceivedaterow" style="display:none;">
            <div class="col-md-3">
                <label for="TenderFeeReceiveDate">Tender Fee Receive Date:</label>
            </div>
            <div class="col-md-3">
                <input type="date" class="form-control"  th:value="${feeApproval != null ? feeApproval.TenderFeeReceiveDate : 0}"  id="TenderFeeReceiveDate" name="TenderFeeReceiveDate">
            </div>
        </div>
        <div class="row mb-2"  id="Tenderfeemodeofpaymentrow" style="display:none;">
            <div class="col-md-3"  >
                <label for="TenderFeeModeOfPayment">Tender Fee Mode of Payment:</label>
            </div>
            <div class="col-md-3" th:if="${feeApproval != null}">
                <select id="TenderFeeModeOfPayment"  th:field="${feeApproval.TenderFeeModeOfPayment}"    name="TenderFeeModeOfPayment" class="form-control">
                    <option value="" disabled selected>Select Status</option>
                    <option value="FDR/DD/BG">FDR/DD/BG</option>
                    <option value="Payment Gateway">Payment Gateway</option>
                    <option value="RTGS/NEFT/IMPS">RTGS/NEFT/IMPS</option>
                </select>
            </div>


            <div class="col-md-3" th:unless="${feeApproval != null}">
                <select id="TenderFeeModeOfPayment"   name="TenderFeeModeOfPayment" class="form-control">
                    <option value="" disabled selected>Select Status</option>
                    <option value="FDR/DD/BG">FDR/DD/BG</option>
                    <option value="Payment Gateway">Payment Gateway</option>
                    <option value="RTGS/NEFT/IMPS">RTGS/NEFT/IMPS</option>
                </select>
            </div>
        </div>
        <div class="row mb-2" id="Tenderfeeinstumentrow" style="display:none;">
            <div class="col-md-3">
                <label for="TenderFeeInstument">Tender Fee Instument No:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control"     th:value="${feeApproval != null ? feeApproval.TenderFeeInstument : 0}"  id="TenderFeeInstument" name="TenderFeeInstument" maxlength="50">
            </div>
        </div>
        <div class="row mb-2" id="Tenderfeedaterow" style="display:none;">
            <div class="col-md-3">
                <label for="TenderFeeDate">Tender Fee Date:</label>
            </div>
            <div class="col-md-3">
                <input type="date" class="form-control"  th:value="${feeApproval != null ? feeApproval.TenderFeeDate : 0}"   id="TenderFeeDate" name="TenderFeeDate" >
            </div>
        </div>
        <div class="row mb-2"  id="Tenderfeevalidityrow" style="display:none;">
            <div class="col-md-3">
                <label for="TenderFeeValidity">Tender Fee Validity:</label>
            </div>
            <div class="col-md-3">

                <input type="date" class="form-control" th:value="${feeApproval != null ? feeApproval.TenderFeeValidity : 0}"   id="TenderFeeValidity" name="TenderFeeValidity" >
            </div>
        </div>

        <div class="row mb-2" >
            <div class="col-md-3">
                <label for="ProcessingFee">ProcessingFee:</label>
            </div>
            <div class="col-md-3">
                <input type="number" class="form-control"   readonly  th:value="${feeApproval != null ? feeApproval.ProcessingFee : tender.processingAmount}"   id="ProcessingFee" name="ProcessingFee" required>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-3">
                <label for="ProcessingFeestatus">Processing Fee status:</label>
            </div>
            <div class="col-md-3" th:if="${feeApproval != null}">
                <select id="ProcessingFeestatus" th:field="${feeApproval.ProcessingFeestatus}" name="ProcessingFeestatus" class="form-control" onchange="togglePaymentFields(this)">
                    <option value="" disabled selected>Select Status</option>
                    <option value="1" >Received</option>
                    <option value="0" >Not Received</option>
                </select>

            </div>

            <div class="col-md-3" th:unless="${feeApproval != null}">
                <select id="ProcessingFeestatus"  name="ProcessingFeestatus" class="form-control" onchange="togglePaymentFields(this)">
                    <option value="" disabled selected>Select Status</option>
                    <option value="1" >Received</option>
                    <option value="0" >Not Received</option>
                </select>

            </div>
        </div>
        <div class="row mb-2" id="Processingfeereceivedaterow" style="display:none;">
            <div class="col-md-3">
                <label for="ProcessingFeeReceiveDate">Processing Fee Receive Date:</label>
            </div>
            <div class="col-md-3">
                <input type="date" class="form-control"   th:value="${feeApproval != null ? feeApproval.ProcessingFeeReceiveDate : 0}"   id="ProcessingFeeReceiveDate" name="ProcessingFeeReceiveDate" >
            </div>
        </div>
        <div class="row mb-2" id="Processingfeemodeofpaymentrow" style="display:none;">
            <div class="col-md-3" >
                <label for="ProcessingFeeModeOfPayment">Processing Fee Mode of Payment:</label>
            </div>
            <div class="col-md-3" th:if="${feeApproval != null}">
                <select id="ProcessingFeeModeOfPayment"  th:field="${feeApproval.ProcessingFeeModeOfPayment}"    name="ProcessingFeeModeOfPayment" class="form-control">
                    <option value="" disabled selected>Select Status</option>
                    <option value="FDR/DD/BG">FDR/DD/BG</option>
                    <option value="Payment Gateway">Payment Gateway</option>
                    <option value="RTGS/NEFT/IMPS">RTGS/NEFT/IMPS</option>
                </select>
            </div>

            <div class="col-md-3" th:unless="${feeApproval != null}">
                <select id="ProcessingFeeModeOfPayment"   name="ProcessingFeeModeOfPayment" class="form-control">
                    <option value="" disabled selected>Select Status</option>
                    <option value="FDR/DD/BG">FDR/DD/BG</option>
                    <option value="Payment Gateway">Payment Gateway</option>
                    <option value="RTGS/NEFT/IMPS">RTGS/NEFT/IMPS</option>
                </select>
            </div>
        </div>
        <div class="row mb-2" id="Processingfeeinstumentrow" style="display:none;">
            <div class="col-md-3">
                <label for="ProcessingFeeInstument">ProcessingFeeInstument:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control"   th:value="${feeApproval != null ? feeApproval.ProcessingFeeInstument : 0}"   id="ProcessingFeeInstument" name="ProcessingFeeInstument" >
            </div>
        </div>
        <div class="row mb-2" id="Processingfeedaterow" style="display:none;">
            <div class="col-md-3">
                <label for="ProcessingFeeDate">Processing Fee Date:</label>
            </div>
            <div class="col-md-3">
                <input type="date" class="form-control"   th:value="${feeApproval != null ? feeApproval.ProcessingFeeDate : 0}"   id="ProcessingFeeDate" name="ProcessingFeeDate" >
            </div>
        </div>
        <div class="row mb-2" id="Processingfeevalidityrow" style="display:none;">
            <div class="col-md-3">
                <label for="ProcessingFeeValidity">ProcessingFeeValidity:</label>
            </div>
            <div class="col-md-3">
                <input type="date" class="form-control"   th:value="${feeApproval != null ? feeApproval.ProcessingFeeValidity : 0}"   id="ProcessingFeeValidity" name="ProcessingFeeValidity" >
            </div>
        </div>

        <div class="row mb-2" >
            <div class="col-md-3">
                <label for="EMDFee">EMD Fee:</label>
            </div>
            <div class="col-md-3">
                <input type="number" class="form-control" readonly th:value="${feeApproval != null ? feeApproval.EMDFee : tender.emdAmount}"  id="EMDFee" name="EMDFee" required maxlength="15">
            </div>
        </div>

        <div class="row mb-2" >
            <div class="col-md-3">
                <label for="EMDFeePending">Pending EMD:</label>
            </div>
            <div class="col-md-3">
                <input type="number" class="form-control"  th:value="${feeApproval != null ? feeApproval.EMDFeePending : 0}"  id="EMDFeePending" name="EMDFeePending" required maxlength="15" >
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-3">
                <label for="EMDFeestatus" >EMD Fee status:</label>
            </div>
            <div class="col-md-3" th:if="${feeApproval != null}">
                <select id="EMDFeestatus" name="EMDFeestatus"  th:if="${feeApproval != null}" th:field="${feeApproval.EMDFeestatus}" class="form-control" onchange="togglePaymentFields(this)">
                    <option value="" disabled selected>Select Status</option>
                    <option value="1" >Received</option>
                    <option value="0" >Not Received</option>
                </select>

            </div>

            <div class="col-md-3"  th:unless="${feeApproval != null}">
                <select id="EMDFeestatus" name="EMDFeestatus"   class="form-control" onchange="togglePaymentFields(this)">
                    <option value="" disabled selected>Select Status</option>
                    <option value="1" >Received</option>
                    <option value="0" >Not Received</option>
                </select>
            </div>
        </div>
        <div class="row mb-2" id="EMDfeereceivedaterow" style="display:none;">
            <div class="col-md-3">
                <label for="EMDFeeReceiveDate">EMD Fee Receive Date:</label>
            </div>
            <div class="col-md-3">
                <input type="date" class="form-control"  th:value="${feeApproval != null ? feeApproval.EMDFeeReceiveDate : 0}"   id="EMDFeeReceiveDate" name="EMDFeeReceiveDate" >
            </div>
        </div>
        <div class="row mb-2" id="EMDfeemodeofpaymentrow" style="display:none;">
            <div class="col-md-3">
                <label for="EMDFeeModeOfPayment">EMD Mode of Payment:</label>
            </div>
            <div class="col-md-3" th:if="${feeApproval != null}" >
                <select id="EMDFeeModeOfPayment"  th:field="${feeApproval.EMDFeeModeOfPayment}" name="EMDFeeModeOfPayment" class="form-control">
                    <option value="" disabled selected>Select Status</option>
                    <option value="FDR/DD/BG">FDR/DD/BG</option>
                    <option value="Payment Gateway">Payment Gateway</option>
                    <option value="RTGS/NEFT/IMPS">RTGS/NEFT/IMPS</option>
                </select>
            </div>

            <div class="col-md-3" th:unless="${feeApproval != null}">
                <select id="EMDFeeModeOfPayment"   name="EMDFeeModeOfPayment" class="form-control">
                    <option value="" disabled selected>Select Status</option>
                    <option value="FDR/DD/BG">FDR/DD/BG</option>
                    <option value="Payment Gateway">Payment Gateway</option>
                    <option value="RTGS/NEFT/IMPS">RTGS/NEFT/IMPS</option>
                </select>
            </div>
        </div>
        <div class="row mb-2" id="EMDfeeinstumentrow" style="display:none;">
            <div class="col-md-3">
                <label for="EMDFeeInstument">EMDFeeInstument:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" th:value="${feeApproval != null ? feeApproval.EMDFeeInstument : 0}"   id="EMDFeeInstument" name="EMDFeeInstument" >
            </div>
        </div>
        <div class="row mb-2" id="EMDfeedaterow" style="display:none;">
            <div class="col-md-3">
                <label for="EMDFeeDate">EMD Fee Date:</label>
            </div>
            <div class="col-md-3">
                <input type="date" class="form-control" th:value="${feeApproval != null ? feeApproval.EMDFeeDate : 0}"    id="EMDFeeDate" name="EMDFeeDate" >
            </div>
        </div>
        <div class="row mb-2" id="EMDfeevalidityrow" style="display:none;">
            <div class="col-md-3">
                <label for="EMDFeeValidity">EMDFeeValidity:</label>
            </div>
            <div class="col-md-3">
                <input type="date" class="form-control"  th:value="${feeApproval != null ? feeApproval.EMDFeeValidity : 0}"   id="EMDFeeValidity" name="EMDFeeValidity" >
            </div>
        </div>


        <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary h-auto w-auto">Submit</button>
            <a href="#" class="btn btn-secondary h-auto w-auto ms-2" >Cancel</a>

        </div>

    </form>
</div>
<!-- Bootstrap JS and dependencies -->

<script src="/assets/js/jquery-3.7.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="/assets/plugins/sweetalert/sweetalerts.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<!-- Datetimepicker JS -->
<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script>


    function togglePaymentFields(that) {
          const status = that.value;
          const componentid= that.id.split("Fee")[0];
          const validityAtRow = document.getElementById(componentid+'feevalidityrow');
          const dateRow = document.getElementById(componentid+'feedaterow');
          const instumentRow = document.getElementById(componentid+'feeinstumentrow');
          const reciveDateRow = document.getElementById(componentid+'feereceivedaterow');
          const modeofpaymentRow = document.getElementById(componentid+'feemodeofpaymentrow');


          if (status === '1') {
              validityAtRow.style.display = 'flex';
              dateRow.style.display = 'flex';
              instumentRow.style.display = 'flex';
              reciveDateRow.style.display = 'flex';
              modeofpaymentRow.style.display = 'flex';

          }
          else{
          document.getElementById(componentid+'FeeValidity').value='';
          document.getElementById(componentid+'FeeInstument').value='';
          document.getElementById(componentid+'FeeDate').value='';
          document.getElementById(componentid+'FeeReceiveDate').value='';

              validityAtRow.style.display = 'none';
              dateRow.style.display = 'none';
              instumentRow.style.display = 'none';
              reciveDateRow.style.display = 'none';
              modeofpaymentRow.style.display = 'none';
          }
    }



    function validateForm() {
        const tenderFee = document.getElementById('TenderFee').value;
        const emdFee = document.getElementById('EMDFee').value;
        const emdFeePending = document.getElementById('EMDFeePending').value;
        const processingFee = document.getElementById('ProcessingFee').value;

        // Regular expression to match the required pattern
        const regex = /^\d{1,18}(\.\d{1,2})?$/;
        // Validate each fee input
        const fees = [
            { name: 'Tender Fee', value: tenderFee },
            { name: 'EMD Fee', value: emdFee },
            { name: 'Pending EMD', value: emdFeePending },
            { name: 'Processing Fee', value: processingFee },
        ];

        for (const fee of fees) {
            if (!regex.test(fee.value)) {
                alert(`Invalid ${fee.name}. Please enter a number with up to 2 digits before and after the decimal point.`);
                return false; // Prevent form submission
            }
        }

        return true; // Allow form submission
    }

     document.addEventListener("DOMContentLoaded", function() {
        // Get the tenderFeeStatus select element
        var tenderFeeStatusSelect = document.getElementById("TenderFeestatus");
        // Check if it has a value
        if (tenderFeeStatusSelect.value !== "") {
            // Call the togglePaymentFields function
            togglePaymentFields(tenderFeeStatusSelect);
        }
          // Get the ProcessingFeestatus select element
        var processingFeeStatusSelect = document.getElementById("ProcessingFeestatus");
        if (processingFeeStatusSelect.value !== "") {
            togglePaymentFields(processingFeeStatusSelect);
        }

         // Get the EMDFeestatus select element
        var emdFeeStatusSelect = document.getElementById("EMDFeestatus");
        if (emdFeeStatusSelect.value !== "") {
            togglePaymentFields(emdFeeStatusSelect);
        }
    });
</script>
</body>
</html>