<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Masters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">

  <!--  <script>
        function openDelete(idval) {

            var result = confirm("Want to delete Id:" + idval);
            if (result) {
                //Logic to delete the item
                alert("Value for Delete:" + idval) ;
                window.location.href="/delete/" + idval ;
            }


        }

    </script>-->
</head>
<body>
<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <div >
               <center> <h2 class="my-5">Masters List</h2></center>
                <table class="table table-striped table-responsive-md">
                   <thead align="center">
                   <tr>

                       <th>Masters</th>

                    </tr>
                   </thead>



                    <tbody>

                    <tr>

                        <td align="center"><a href="http://localhost:8088/BidStageIndex"><input type="submit" class="btn btn-primary" value="BidStage.Masters"></a></td>
                    </tr>
                    <tr>

                        <td align="center"><a href="http://localhost:8088/CompetitorsIndex"><input type="submit" class="btn btn-primary" value="Compet. Masters"></a></td>
                    </tr>
                    <tr>
                    <td align="center"><a href="http://localhost:8088/CredentialsIndex"><input type="submit" class="btn btn-primary" value="Credent.Masters"></a></td>
                    </tr>
                    <tr>

                    <td align="center"><a href="http://localhost:8088/CustomerConnectsIndex"><input type="submit" class="btn btn-primary" value="Customer Master"></a></td>
                    </tr>
                    <tr>

                    <td align="center"><a href="http://localhost:8088/index"><input type="submit" class="btn btn-primary" value="EmployeeMasters"></a></td>
                    </tr>
                    <tr>
                    <td align="center"><a href="http://localhost:8088/ProductIndex"><input type="submit" class="btn btn-primary" value="Product Masters"></a></td>
                    </tr>

                    <tr>

                    <td align="center"><a href="http://localhost:8088/RegionIndex"><input type="submit" class="btn btn-primary" value="Regions Masters"></a></td>
                    </tr>
                    <tr>

                    <td align="center"><a href="http://localhost:8088/RemarksIndex"><input type="submit" class="btn btn-primary" value="Remarks Masters"></a></td>
                    </tr>
                    <tr>

                    <td align="center"><a href="http://localhost:8088/VerticaIndex"><input type="submit" class="btn btn-primary" value="Vertical Masters"></a></td>
                    </tr>
                    <tr>

                        <td align="center"><a href="http://localhost:8088/ChecklistIndex"><input type="submit" class="btn btn-primary" value="bidchecklist"></a></td>
                    </tr>
                    <tr>

                        <td align="center"><a href="http://localhost:8088/EligibilityIndex"><input type="submit" class="btn btn-primary" value="Eligibility master"></a></td>
                    </tr>
                    <tr>

                        <td align="center"><a href="http://localhost:8088/TenderIndex"><input type="submit" class="btn btn-primary" value="New Tender"></a></td>
                    </tr>
                    <tr>

                        <td align="center"><a href="http://localhost:8088/DecisionIndex"><input type="submit" class="btn btn-primary" value="New Decision"></a></td>
                    </tr>
                    <tr>

                        <td align="center"><a href="http://localhost:8088/uploadpage"><input type="submit" class="btn btn-primary" value="Upload Document"></a></td>
                    </tr>
                    <tr>

                        <td align="center"><a href="http://localhost:8088/newEmail"><input type="submit" class="btn btn-primary" value="New Email"></a></td>
                    </tr>
                    <tr>

                        <td align="center"><a href="http://localhost:8088/form"><input type="submit" class="btn btn-primary" value="hyujb "></a></td>
                    </tr>
                    <tr>

                        <td align="center"><a href="http://localhost:8088/ThreeTabIndex"><input type="submit" class="btn btn-primary" value="New Tab"></a></td>
                    </tr>
                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>
</body>
</html>