<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8">
  <title>Enter Tender Details</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

</head>
<body layout:fragment="content" onload="steperror()">
<div class="container">
  <h2 class="mt-5">Pre Bid Meet Details</h2>
  <form action="#" th:action="@{/OtherRequirementSave}" method="post" th:object="${OtherRequirement}" class="p-3" enctype="multipart/form-data" >

    <div>  <input type="hidden"  th:value="${userId}"  id="userId" name="userId"  ></div>
    <input type="hidden" id="stepError" th:value="${stepError}">


    <div class="row mb-2"  th:object="${tender}" id="LegalDepartmentrow" >
      <div class="col-md-3">
        <label for="LegalDepartment">Legal Department</label>
      </div>
      <div class="col-md-3">
        <input type="hidden" class="form-control" th:value="${tender.id}"  id="tenderNumber" name="tenderNumber" required>
        <input type="text" class="form-control"  th:value="${OtherRequirement != null ? OtherRequirement.LegalDepartment : ''}"  id="LegalDepartment" name="LegalDepartment" maxlength="30" >
        <input type="hidden" class="form-control"  th:value="${OtherRequirement != null ? OtherRequirement.LegalDepartment_id : 0}"  id="LegalDepartment_id" name="LegalDepartment_id"  >
      </div>
    </div>

    <div class="row mb-2" id="AccountDepartmentrow" >
      <div class="col-md-3">
        <label for="AccountDepartment">Account Department</label>
      </div>
      <div class="col-md-3">

        <input type="text" class="form-control"  th:value="${OtherRequirement != null ? OtherRequirement.AccountDepartment : ''}"  id="AccountDepartment" name="AccountDepartment" maxlength="30" >
        <input type="hidden" class="form-control"  th:value="${OtherRequirement != null ? OtherRequirement.AccountDepartment_id : 0}"  id="AccountDepartment_id" name="AccountDepartment_id"  >
      </div>
    </div>

    <div class="row mb-2" id="SCMDepartmentrow" >
      <div class="col-md-3">
        <label for="SCMDepartment">SCM Department</label>
      </div>
      <div class="col-md-3">

        <input type="text" class="form-control"  th:value="${OtherRequirement != null ? OtherRequirement.SCMDepartment : ''}"  id="SCMDepartment" name="SCMDepartment" maxlength="30" >
        <input type="hidden" class="form-control"  th:value="${OtherRequirement != null ? OtherRequirement.AccountDepartment_id : 0}"  id="SCMDepartment_id" name="SCMDepartment_id"  >
      </div>
    </div>
    <div class="row mb-2" id="HRDepartmentrow" >
      <div class="col-md-3">
        <label for="AccountDepartment">HR Department</label>
      </div>
      <div class="col-md-3">

        <input type="text" class="form-control"  th:value="${OtherRequirement != null ? OtherRequirement.HRDepartment : ''}"  id="HRDepartment" name="HRDepartment" maxlength="30" >
        <input type="hidden" class="form-control"  th:value="${OtherRequirement != null ? OtherRequirement.HRDepartment_id : 0}"  id="HRDepartment_id" name="HRDepartment_id"  >
      </div>
    </div>
    <div class="row justify-content-center">
      <button type="submit" class="btn btn-primary h-auto w-auto">Submit</button>
      <button type="reset" class="btn btn-secondary h-auto w-auto" th:data-url="${cancelUrl}"
              onclick="navigateToUrl(this)"> Cancel</button>

    </div>
  </form>
</div>

<script>
  function steperror(){
var error=$("#stepError").val();
if(error!=""&&error!=null){
alert(error);

history.back();
}
}

function navigateToUrl(button) {
          const url = button.getAttribute('data-url');
          if (url) {
              window.location.href = url;
          }
      }



$(document).ready(function() {
$("#LegalDepartment").autocomplete({
    source: function(request, response) {
        $.ajax({
            url: "/searchuserDetails",
            data: {
                query: request.term
            },
            success: function(data) {
                var suggestions = [];
                $.each(data, function(index, item) {
                    suggestions.push({
                        value: item.suplierId, // Displayed in the input field
                        label: item.supplier, // Displayed in the dropdown
                        assupmstId: item.assupmstId,
                        assupmst: item.assupmst,

                    });
                });
                response(suggestions);
            }
        });
    },
    minLength: 2,
    select: function(event, ui) {
        // Set the value of the #caseTitle input field
        $("#LegalDepartment").val(ui.item.label);
        $("#LegalDepartment_id").val(ui.item.value);
<!--            $("#department_id").val(ui.item.assupmstId);-->
<!--            $("#department").val(ui.item.assupmst);-->
<!--            $("#division_id").val(ui.item.value);-->
<!--            $("#division").val(ui.item.address);-->
<!--                    // Set the value of the hidden #caseId input field-->
<!--                    $("#caseId").val(ui.item.caseId);-->
<!--                    console.log("Selected: " + ui.item.value + " with ID " + ui.item.caseId);-->
        return false; // Prevent default behavior of setting the value
    }
}).data("ui-autocomplete")._renderMenu = function(ul, items) {
    var $table = $('<table class="table table-hover mb-0"></table>');
    var $header = $('<tr><th>   Name   </th><th> ID </th></tr>');
    $table.append($header);
    ul.append($table);
    var self = this;
    $.each(items, function(index, item) {
        self._renderItemData(ul, item);
    });
};

$.ui.autocomplete.prototype._renderItem = function(ul, item) {
    var $row = $('<tr class="ui-menu-item"></tr>');
    $row.append('<td>' + item.label + '</td>');
    $row.append('<td>' + item.value + '</td>');

    $row.data("ui-autocomplete-item", item);
    return $row.appendTo(ul.find('table'));
};
});






$(document).ready(function() {
$("#AccountDepartment").autocomplete({
    source: function(request, response) {
        $.ajax({
            url: "/searchuserDetails",
            data: {
                query: request.term
            },
            success: function(data) {
                var suggestions = [];
                $.each(data, function(index, item) {
                    suggestions.push({
                        value: item.suplierId, // Displayed in the input field
                        label: item.supplier, // Displayed in the dropdown
                        assupmstId: item.assupmstId,
                        assupmst: item.assupmst,

                    });
                });
                response(suggestions);
            }
        });
    },
    minLength: 2,
    select: function(event, ui) {
        // Set the value of the #caseTitle input field
        $("#AccountDepartment").val(ui.item.label);
        $("#AccountDepartment_id").val(ui.item.value);
<!--            $("#department_id").val(ui.item.assupmstId);-->
<!--            $("#department").val(ui.item.assupmst);-->
<!--            $("#division_id").val(ui.item.value);-->
<!--            $("#division").val(ui.item.address);-->
<!--                    // Set the value of the hidden #caseId input field-->
<!--                    $("#caseId").val(ui.item.caseId);-->
<!--                    console.log("Selected: " + ui.item.value + " with ID " + ui.item.caseId);-->
        return false; // Prevent default behavior of setting the value
    }
}).data("ui-autocomplete")._renderMenu = function(ul, items) {
    var $table = $('<table class="table table-hover mb-0"></table>');
    var $header = $('<tr><th>   Name   </th><th> ID </th></tr>');
    $table.append($header);
    ul.append($table);
    var self = this;
    $.each(items, function(index, item) {
        self._renderItemData(ul, item);
    });
};

$.ui.autocomplete.prototype._renderItem = function(ul, item) {
    var $row = $('<tr class="ui-menu-item"></tr>');
    $row.append('<td>' + item.label + '</td>');
    $row.append('<td>' + item.value + '</td>');

    $row.data("ui-autocomplete-item", item);
    return $row.appendTo(ul.find('table'));
};
});





$(document).ready(function() {
$("#SCMDepartment").autocomplete({
    source: function(request, response) {
        $.ajax({
            url: "/searchuserDetails",
            data: {
                query: request.term
            },
            success: function(data) {
                var suggestions = [];
                $.each(data, function(index, item) {
                    suggestions.push({
                        value: item.suplierId, // Displayed in the input field
                        label: item.supplier, // Displayed in the dropdown
                        assupmstId: item.assupmstId,
                        assupmst: item.assupmst,

                    });
                });
                response(suggestions);
            }
        });
    },
    minLength: 2,
    select: function(event, ui) {
        // Set the value of the #caseTitle input field
        $("#SCMDepartment").val(ui.item.label);
        $("#SCMDepartment_id").val(ui.item.value);
<!--            $("#department_id").val(ui.item.assupmstId);-->
<!--            $("#department").val(ui.item.assupmst);-->
<!--            $("#division_id").val(ui.item.value);-->
<!--            $("#division").val(ui.item.address);-->
<!--                    // Set the value of the hidden #caseId input field-->
<!--                    $("#caseId").val(ui.item.caseId);-->
<!--                    console.log("Selected: " + ui.item.value + " with ID " + ui.item.caseId);-->
        return false; // Prevent default behavior of setting the value
    }
}).data("ui-autocomplete")._renderMenu = function(ul, items) {
    var $table = $('<table class="table table-hover mb-0"></table>');
    var $header = $('<tr><th>   Name   </th><th> ID </th></tr>');
    $table.append($header);
    ul.append($table);
    var self = this;
    $.each(items, function(index, item) {
        self._renderItemData(ul, item);
    });
};

$.ui.autocomplete.prototype._renderItem = function(ul, item) {
    var $row = $('<tr class="ui-menu-item"></tr>');
    $row.append('<td>' + item.label + '</td>');
    $row.append('<td>' + item.value + '</td>');

    $row.data("ui-autocomplete-item", item);
    return $row.appendTo(ul.find('table'));
};
});




$(document).ready(function() {
$("#HRDepartment").autocomplete({
    source: function(request, response) {
        $.ajax({
            url: "/searchuserDetails",
            data: {
                query: request.term
            },
            success: function(data) {
                var suggestions = [];
                $.each(data, function(index, item) {
                    suggestions.push({
                        value: item.suplierId, // Displayed in the input field
                        label: item.supplier, // Displayed in the dropdown
                        assupmstId: item.assupmstId,
                        assupmst: item.assupmst,

                    });
                });
                response(suggestions);
            }
        });
    },
    minLength: 2,
    select: function(event, ui) {
        // Set the value of the #caseTitle input field
        $("#HRDepartment").val(ui.item.label);
        $("#HRDepartment_id").val(ui.item.value);
<!--            $("#department_id").val(ui.item.assupmstId);-->
<!--            $("#department").val(ui.item.assupmst);-->
<!--            $("#division_id").val(ui.item.value);-->
<!--            $("#division").val(ui.item.address);-->
<!--                    // Set the value of the hidden #caseId input field-->
<!--                    $("#caseId").val(ui.item.caseId);-->
<!--                    console.log("Selected: " + ui.item.value + " with ID " + ui.item.caseId);-->
        return false; // Prevent default behavior of setting the value
    }
}).data("ui-autocomplete")._renderMenu = function(ul, items) {
    var $table = $('<table class="table table-hover mb-0"></table>');
    var $header = $('<tr><th>   Name   </th><th> ID </th></tr>');
    $table.append($header);
    ul.append($table);
    var self = this;
    $.each(items, function(index, item) {
        self._renderItemData(ul, item);
    });
};

$.ui.autocomplete.prototype._renderItem = function(ul, item) {
    var $row = $('<tr class="ui-menu-item"></tr>');
    $row.append('<td>' + item.label + '</td>');
    $row.append('<td>' + item.value + '</td>');

    $row.data("ui-autocomplete-item", item);
    return $row.appendTo(ul.find('table'));
};
});



</script>

</body>
</html>