<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Enter Tender Details</title>


</head>
<body layout:fragment="content">
<div class="container">
    <h2 class="mt-5">Pre Bid Meet Details</h2>
    <form action="#" th:action="@{/PreBidSave}" method="post" th:object="${preBidMet}" class="p-3" enctype="multipart/form-data" >
        <div class="row mb-2"  th:object="${tender}" id="MeetingDaterow" >
            <div class="col-md-3">
                <label for="MeetingDate">Meeting Date And Time</label>
            </div>
            <div class="col-md-3">
                <input type="hidden" class="form-control" th:value="${tender.id}"  id="tenderNumber" name="tenderNumber" required>
                <input type="datetime-local" class="form-control"  th:value="${preBidMet != null ? preBidMet.MeetingDate : 0}"  id="MeetingDate" name="MeetingDate" >
            </div>
        </div>
        <div class="row mb-2" id="assignTorow" >
            <div class="col-md-3">
                <label for="assignTo">Assign To:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control"     th:value="${preBidMet != null ? preBidMet.assignTo : ''}"  id="assignTo" name="assignTo" maxlength="50">
                <input type="hidden" class="form-control"     th:value="${preBidMet != null ? preBidMet.assignTo_id : ''}"  id="assignTo_id" name="assignTo_id" maxlength="50">
            </div>
        </div>
        <div class="row mb-2" id="Reminderrow" >
            <div class="col-md-3">
                <label for="Reminder">Remider To:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control"     th:value="${preBidMet != null ? preBidMet.Reminder : ''}"  id="Reminder" name="Reminder" maxlength="50">
                <input type="hidden" class="form-control"     th:value="${preBidMet != null ? preBidMet.Reminder_id : ''}"  id="Reminder_id" name="Reminder_id" maxlength="50">
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary h-auto w-auto">Submit</button>
            <a href="#" class="btn btn-secondary h-auto w-auto ms-2" >Cancel</a>

        </div>
    </form>
</div>

<script>




    $(document).ready(function() {
    $("#assignTo").autocomplete({
        source: function(request, response) {
            $.ajax({
                url: "/searchuserDetails",
                data: {
                    query: request.term
                },
                success: function(data) {
                    var suggestions = [];
                    $.each(data, function(index, item) {
                        suggestions.push({
                            value: item.suplierId, // Displayed in the input field
                            label: item.supplier, // Displayed in the dropdown
                            assupmstId: item.assupmstId,
                            assupmst: item.assupmst,

                        });
                    });
                    response(suggestions);
                }
            });
        },
        minLength: 2,
        select: function(event, ui) {
            // Set the value of the #caseTitle input field
            $("#assignTo").val(ui.item.label);
            $("#assignTo_id").val(ui.item.value);
<!--            $("#department_id").val(ui.item.assupmstId);-->
<!--            $("#department").val(ui.item.assupmst);-->
<!--            $("#division_id").val(ui.item.value);-->
<!--            $("#division").val(ui.item.address);-->
<!--                    // Set the value of the hidden #caseId input field-->
<!--                    $("#caseId").val(ui.item.caseId);-->
<!--                    console.log("Selected: " + ui.item.value + " with ID " + ui.item.caseId);-->
            return false; // Prevent default behavior of setting the value
        }
    }).data("ui-autocomplete")._renderMenu = function(ul, items) {
        var $table = $('<table class="table table-hover mb-0"></table>');
        var $header = $('<tr><th>Supplier</th><th>Supplier Id ID</th></tr>');
        $table.append($header);
        ul.append($table);
        var self = this;
        $.each(items, function(index, item) {
            self._renderItemData(ul, item);
        });
    };

    $.ui.autocomplete.prototype._renderItem = function(ul, item) {
        var $row = $('<tr class="ui-menu-item"></tr>');
        $row.append('<td>' + item.label + '</td>');
        $row.append('<td>' + item.value + '</td>');

        $row.data("ui-autocomplete-item", item);
        return $row.appendTo(ul.find('table'));
    };
});



    $(document).ready(function() {
    $("#Reminder").autocomplete({
        source: function(request, response) {
            $.ajax({
                url: "/searchuserDetails",
                data: {
                    query: request.term
                },
                success: function(data) {
                    var suggestions = [];
                    $.each(data, function(index, item) {
                        suggestions.push({
                            value: item.suplierId, // Displayed in the input field
                            label: item.supplier, // Displayed in the dropdown
                            assupmstId: item.assupmstId,
                            assupmst: item.assupmst,

                        });
                    });
                    response(suggestions);
                }
            });
        },
        minLength: 2,
        select: function(event, ui) {
            // Set the value of the #caseTitle input field
            $("#Reminder").val(ui.item.label);
            $("#Reminder_id").val(ui.item.value);
<!--            $("#department_id").val(ui.item.assupmstId);-->
<!--            $("#department").val(ui.item.assupmst);-->
<!--            $("#division_id").val(ui.item.value);-->
<!--            $("#division").val(ui.item.address);-->
<!--                    // Set the value of the hidden #caseId input field-->
<!--                    $("#caseId").val(ui.item.caseId);-->
<!--                    console.log("Selected: " + ui.item.value + " with ID " + ui.item.caseId);-->
            return false; // Prevent default behavior of setting the value
        }
    }).data("ui-autocomplete")._renderMenu = function(ul, items) {
        var $table = $('<table class="table table-hover mb-0"></table>');
        var $header = $('<tr><th>Supplier</th><th>Supplier Id ID</th></tr>');
        $table.append($header);
        ul.append($table);
        var self = this;
        $.each(items, function(index, item) {
            self._renderItemData(ul, item);
        });
    };

    $.ui.autocomplete.prototype._renderItem = function(ul, item) {
        var $row = $('<tr class="ui-menu-item"></tr>');
        $row.append('<td>' + item.label + '</td>');
        $row.append('<td>' + item.value + '</td>');

        $row.data("ui-autocomplete-item", item);
        return $row.appendTo(ul.find('table'));
    };
});



</script>

</body>
</html>