<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Maintenance</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h2 class="my-5">Edit Maintenance</h2>
    <form>
        <div class="form-group">
            <label for="publishDate">Report Date:</label>
            <input type="text" class="form-control" id="publishDate" placeholder="Enter report date" value="2024-06-12">
        </div>
        <div class="form-group">
            <label for="dueDate">Due Date:</label>
            <input type="text" class="form-control" id="dueDate" placeholder="Enter due date" value="2024-06-15">
        </div>
        <div class="form-group">
            <label for="nameOfAsset">Nature of Work:</label>
            <input type="text" class="form-control" id="nameOfAsset" placeholder="Enter nature of work" value="Repair">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/" class="btn btn-default">Cancel</a>
    </form>
</div>

</body>
</html>
