<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Enter Tender Details</title>


</head>
<body layout:fragment="content">
<div class="container">
    <h2 class="mt-5">Enter Tender Details</h2>
    <form action="#"  th:action="@{/updateTenderNew/{id}(id=${user.id})}" method="post" th:object="${user}" class="p-3">
        <div class="row mb-2">
            <div class="col-md-3">
                <label for="publishDate">Publish Date:</label>
            </div>
            <div class="col-md-3">
                <input type="date" onblur="isValidDateFormat(this.id)" class="form-control" th:field="*{publishDate}"  id="publishDate" name="publishDate" required>
            </div>

        </div>
        <div class="row mb-2">
            <div class="col-md-3">
                <label for="dueDate">Due Date:</label>
            </div>
            <div class="col-md-3">
                <input type="date" onblur="isValidDateFormat(this.id)" class="form-control" th:field="*{dueDate}"   id="dueDate" name="dueDate" required>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-3">
                <label for="nameOfWork">Name of Work:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control"  th:field="*{nameOfWork}"  id="nameOfWork" name="nameOfWork" required>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-3">
                <label for="emd">EMD (Earnest Money Deposit):</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control"  th:field="*{emd}"  id="emd" name="emd" required>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-3">
                <label for="tenderFees">Tender Fees:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control"  th:field="*{tenderFees}"  id="tenderFees" name="tenderFees" required>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-3">
                <label for="modeOfPayment">Mode of Payment:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control"  th:field="*{modeOfPayment}"  id="modeOfPayment" name="modeOfPayment" required>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-3">
                <label for="tenderValue">Tender Value:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control"  th:field="*{tenderValue}"  id="tenderValue" name="tenderValue" required>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-3">
                <input type="checkbox" class="form-check-input"  th:field="*{msePreference}"  id="msePreference" name="msePreference">
            </div>
            <div class="col-md-3">
                <label class="form-check-label" for="msePreference">MSE (Micro and Small Enterprises) Preference</label>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-3">
                <label for="zone">Zone:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control"  th:field="*{zone}"  id="zone" name="zone" required>
            </div>
        </div>
        <div class="row mb-2" >
            <div class="col-md-3">
                <label for="department">Department:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control"  th:field="*{department}"  id="department" name="department" required>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-3">
                <label for="division">Division:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control"  th:field="*{division}"  id="division" name="division" required>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary h-auto w-auto">Submit</button>
        </div>
    </form>
</div>
<!-- Bootstrap JS and dependencies -->




</body>
</html>