<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

    <!-- Lineawesome CSS -->
    <link rel="stylesheet" href="assets/css/line-awesome.min.css">
    <link rel="stylesheet" href="assets/css/material.css">


    <!-- Select2 CSS -->
    <link rel="stylesheet" href="assets/css/select2.min.css">

    <!-- Datatable CSS -->
    <link rel="stylesheet" href="assets/css/dataTables.bootstrap4.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body  layout:fragment="content">
<div class="container">
    <h2>Tender List</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Tender ID</th>
            <th>Tender Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tender : ${tenders}">
            <td th:text="${tender.id}"></td>
            <td th:text="${tender.tenderName}"></td>
            <td>
                <a th:href="@{'/department/Legal/tender/' + ${tender.id}}" class="btn btn-primary">Legal Department</a>
                <a th:href="@{'/department/Accounts/tender/' + ${tender.id}}" class="btn btn-secondary">Accounts Department</a>
                <a th:href="@{'/department/HR/tender/' + ${tender.id}}" class="btn btn-success">HR Department</a>
                <a th:href="@{'/department/SCM/tender/' + ${tender.id}}" class="btn btn-warning">SCM Department</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="assets/js/jquery-3.7.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="assets/plugins/sweetalert/sweetalerts.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<!-- Datetimepicker JS -->
<script src="assets/js/moment.min.js"></script>
<script src="assets/js/bootstrap-datetimepicker.min.js"></script>
</body>
</html>