<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tender Entry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
    <title>Three Tabs Example</title>
    <style>
        /* Some basic CSS for tabs */
     .tab {
         display: none;
     }

     .tab.active {
         display: block;
     }

     ul {
         list-style-type: none;
         padding: 0;
         margin: 0;
     }

     ul li {
         display: inline-block;
         margin-right: 10px; /* Adjust as needed */
     }

     ul li a {
         text-decoration: none;
         color: black;
         padding: 8px 16px;
         border: 1px solid #ccc;
         border-radius: 5px;
     }

     ul li a:hover {
         background-color: #f2f2f2;
     }
    </style>
</head>
<body>
        <ul>
            <li><a href="#" onclick="openTab(event, 'tab1')">Tab 1</a></li>
            <li><a href="#" onclick="openTab(event, 'tab2')">Tab 2</a></li>
            <li><a href="#" onclick="openTab(event, 'tab3')">Tab 3</a></li>
        </ul>
        <section class="content">
            <div class=" box-default">
                <!-- /.box-header -->
                <div class="box-body">
        <div id="tab1" class="tab ">
            <h2 class="mb-5">Tender Entry</h2>
            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/addtenderEntry}" th:object="${bids}" method="post">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="zone" class="col-form-label">Zone</label>

                                <input type="text"  name="zone" class="form-control" id="zone" placeholder="zone">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="dept" class="col-form-label">Department</label>

                                <input type="text"  name="dept" class="form-control" id="dept" placeholder="dept">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="division" class="col-form-label">Division</label>

                                <input type="text"  name="division" class="form-control" id="division" placeholder="division">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="name" class="col-form-label">Publish Date</label>

                                <input type="date"  name="pdate" class="form-control" id="pdate" placeholder="pdate">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name" class="col-form-label">Due Date</label>

                                <input type="date"  name="duedate" class="form-control" id="duedate" placeholder="duedate">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email" class="col-form-label">Nature Of Work</label>

                                <input type="text"  name="nameOfWork" class="form-control" id="nameOfWork" placeholder="nameOfWork">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="emd" class="col-form-label">EMD Value</label>

                                <input type="text"  name="emdValue" class="form-control" id="emdValue" placeholder="emdValue">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="tenderFees" class="col-form-label">Tender Fees</label>

                                <input type="text"  name="tenderFees" class="form-control" id="tenderFees" placeholder="tenderFees">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="tenderValue" class="col-form-label">Tender Value</label>

                                <input type="text"  name="tenderValue" class="form-control" id="tenderValue" placeholder="tenderValue">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="msme" class="col-form-label">MSME Pref</label>
                                <input type="text"  name="msmePref" class="form-control" id="msmePref" placeholder="msmePref">

                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div id="tab2" class="tab ">

                <h2 class="mb-5">Bid CheckList Entry</h2>
                <div class="row">
                    <div class="col-md-6">
                        <form action="#" th:action="@{/addChecklist}" th:object="${bid}" method="post">
                            <div class="row">
                                <table class="table table-striped table-responsive-md">
                                    <thead>
                                    <tr>
                                        <th >
                                            <div class="form-group col-md-6">
                                            <label for="activityName" class="col-form-label">Checklist Task</label>
                                            <input type="text"  class="form-control" id="activityName" placeholder="activityName">
                                            </div>
                                        </th>
                                        <th >
                                            <div class="form-group col-md-6">
                                                <label for="bid_owner" class="col-form-label">Owner</label>
                                                <input type="text"  class="form-control" id="bid_owner" placeholder="bid_owner">
                                            </div>
                                        </th>
                                        <th >
                                            <div class="form-group col-md-6">
                                                <label for="bid_lastdate" class="col-form-label">Last Date</label>
                                                <input type="text"  class="form-control" id="bid_lastdate" placeholder="bid_lastdate">
                                            </div>
                                        </th>
                                        <th >
                                            <div class="form-group col-md-6">
                                                <label for="escalationStatus" class="col-form-label">Status</label>
                                                <input type="date"  class="form-control" id="escalationStatus" placeholder="escalationStatus">
                                            </div>
                                        </th>
                                        <th >
                                            <div class="form-group col-md-6">
                                                <label for="bid_period" class="col-form-label">Period</label>
                                                <input type="text"  class="form-control" id="bid_period" placeholder="bid_period">
                                            </div>
                                        </th>
                                        <th >
                                            <div class="form-group col-md-6">
                                                <label for="bid_escalationTo" class="col-form-label">Escalation Mail</label>
                                                <input type="text"  class="form-control" id="bid_escalationTo" placeholder="bid_escalationTo">
                                            </div>
                                        </th>
                                        <th >Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr >


                                        <td class="EditBtns">
                                            <a  href="javascript:$(this).trigger('click')" class="formbuttonadd Btn View btnIcon btnXSmallIcon" tabIndexx="7" title="add" id="iconformbuttonadd_bidDetail"><i class="fa fa-plus"></i></a>
                                            <a   href="javascript:$(this).trigger('click')" class="formbuttondelete Btn Delete btnIcon btnXSmallIcon" tabIndexx="8" style="margin-left: 4px;" title="delete" id="iconformbuttondelete"><i class="fa fa-times"></i></a>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>



                            </div>

                        </form>
                    </div>
                </div>

        </div>
        <div id="tab3" class="tab">
<center>
            <h2 class="mb-5">Eligibility Entry</h2>
            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/Eligibilitylist}" th:object="${oiEligibilityList}" method="post">
                        <div class="row">
                            <table style="overflow:visible;" class="tableConrol responstable display nowrap dataTable iDataTable dtr-inline"
                                   role="grid">
                                <thead>
                                <tr>
                                    <th style="width:12%;">Eligibility Criteria</th>
                                    <th style="width:12%;">Document Required</th>
                                    <th style="width:8%">Is Applicable</th>
                                    <th style="width:12%">Who is Bidder?</th>
                                    <th style="width:12%">Credential</th>
                                    <th style="width:12%;">Remark</th>
                                    <th style="width:5%;">Action</th>
                                </tr>
                                </thead>
                                <tbody id="eligibilityBody" >
                                <tr class="dataRow">
                                    <td style="height: 100px !important;">
							<textarea name="eligible_criteria" id="eligible_criteria"  style="height: 80px !important;"
                                      class="form-control" manadatory="true" placeHolder="Eligibility Criteria" tabIndexx="1"></textarea>
                                    </td>
                                    <td style="height: 100px !important;">
							<textarea  name="eligible_document" id="eligible_document" style="height: 80px !important;"
                                       class="form-control" manadatory="true" placeHolder="Document Required" tabIndexx="2"></textarea>
                                    </td>
                                    <td style="vertical-align:top;padding: 1%;height: 100px !important;">
                                        <select name="eligible_isApplicable" id="eligible_isApplicable" class="form-control">
                                            <option value="-1">Select</option>
                                            <option value="Y">Yes</option>
                                            <option value="N">No</option>
                                        </select>
                                    </td>
                                    <td style="vertical-align:top;padding: 1%;height: 100px !important;" class="eligible_bidder_Td">
                                        <select name="eligible_bidder" tabIndexx="3" id="eligible_bidder" multiple class="form-control eligible_bidder" placeHolder="Eligible Credentials" manadatory="true" style="height: 40px !important;">
                                            <!-- 	<option value="-1">--Select--</option> -->
                                            <s:iterator value="bidderList" status="incr">
                                                <option value='<s:property/>'>
                                                    <s:property/>
                                                </option>
                                            </s:iterator>
                                        </select>
                                        <input type="hidden" id="ele_bidder" name="ele_bidder"/>
                                    </td>
                                    <td class="eligible_credentials_Td" style="vertical-align:top;padding: 1%;height: 100px !important;">
                                        <select name="eligible_credentials" tabIndexx="3" id="eligible_credentials" multiple class="form-control eligible_credentials" placeHolder="Eligible Credentials" manadatory="true" style="height: 40px !important;">
                                            <%-- <!-- 	<option value="-1">--Select--</option> -->
                                            <s:iterator value="credentialList" status="incr">
                                                <option value='<s:property value="id"/>'>
                                                    <s:property value="cname" /> : <s:property value="domain" />
                                                </option>
                                            </s:iterator> --%>
                                        </select>
                                        <input type="hidden" id="ele_credentials" name="ele_credentials"/>
                                    </td>
                                    <td style="height: 100px !important;">
							<textarea  name="eligible_remark" id="eligible_remark" style="height: 80px !important;"
                                       class="form-control"  tabIndexx="4"></textarea>
                                        <input type="hidden" id="eligible_id" name="eligible_id" value="0"/>
                                    </td>
                                    <td class="EditBtns" style="padding:3px !important">
                                        <input type="hidden" class="downloadData"/>
                                        <a  href="javascript:$(this).trigger('click')" class="downloadDoc Btn View btnIcon btnXSmallIcon" tabIndexx="5" style="display:none;" title="Click Here to Download" id="downloadDoc_bidEle"><i class="fa fa-download"></i></a>
                                        &nbsp;<a  href="javascript:$(this).trigger('click')" class="formbuttonadd Btn View btnIcon btnXSmallIcon" style="    margin-left: 4px;" tabIndexx="5" title="add" id="iconformbuttonadd_bidEle"><i class="fa fa-plus"></i></a>
                                        <a  href="javascript:$(this).trigger('click')"  class="formbuttondelete Btn Delete btnIcon btnXSmallIcon" style="margin-left: 4px;" title="delete" id="iconformbuttondelete"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>



                        </div>

                    </form>
                </div>
</center>
            </div>

        </div>

                </div>
            </div>
        </section>


        <script th:inline="javascript">
            // JavaScript function to open a tab
            function openTab(evt, tabName) {
                var i, tabContents, tabLinks;
                tabContents = document.getElementsByClassName("tab");
                for (i = 0; i < tabContents.length; i++) {
                    tabContents[i].classList.remove("active");
                }
                document.getElementById(tabName).classList.add("active");
            }

            // Set the default tab as active when the page loads
            document.addEventListener("DOMContentLoaded", function() {
                document.getElementById("tab1").classList.add("active");
            });
        </script>

</body>
</html>