<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Items Page</title>
<!--    <script>-->
<!--        function sendQueryParam() {-->
<!--            var selectedOption = document.getElementById("mySelect").value;-->
<!--            var queryParams = "?userName=" + selectedOption;-->
<!--            var url = "/ticketDetail" + queryParams; // Replace with your actual processing endpoint-->
<!--            window.location.href = url;-->
<!--        }-->
<!--    </script>-->
</head>
<body>
<h2>Ticket Details</h2>
<p>Ticket No: <span th:text="${maintenance.ticketNo}"></span></p>
<p>Asset Name: <span th:text="${maintenance.nameOfAsset}"></span></p>
<p>Reported By: <span th:text="${maintenance.reportedBy}"></span></p>
<p>Status: <span th:text="${maintenance.status}"></span></p>
<p>PublishedDate: <span th:text="${maintenance.publishDate}"></span></p>
<p>DueDate: <span th:text="${maintenance.dueDate}"></span></p>
<p>Description: <span th:text="${maintenance.description}"></span></p>
<h2>Select an item:</h2>
<!--<form action="/ticketDetail" method="get">-->
<!--    <select name="userName" id="mySelect" >-->
<!--        <option th:each="item : ${yolo}" th:value="${item.user}" th:text="${item.user}"></option>-->
<!--    </select>-->
<!--    <br><br>-->
<!--    <input th:onclick="sendQueryParam()" type="submit" value="Submit">-->
<!--</form>-->
<div th:each="details : ${details}">
    <p><strong>Assigned To:</strong> <span th:text="${details.user}"></span></p>
    <!--        <p><strong>Remarks:</strong> <span th:text="${details.remarks}"></span></p>-->
</div><p><strong>Team:</strong> <span th:text="${maintenance.team}"></span></p>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Remarks</th>
        <th>Ticket No</th>
        <th>Branch Code</th><th>user</th><th>needs</th>
        <!-- Add more headers as per your Yolo entity -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="yolo : ${yolo}">
        <td th:text="${yolo.id}"></td>
        <td th:text="${yolo.remarks}"></td>
        <td th:text="${yolo.ticketNo}"></td>
        <td th:text="${yolo.branchCode}"></td><td th:text="${yolo.user}"></td><td th:text="${yolo.needs}"></td>
        <!-- Add more columns as per your Yolo entity -->
    </tr>
    </tbody>
</table>
</body>
</html>
