<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Credentials</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">New Credentials</h2>
    <div class="row">
        <div class="col-md-6">

            <form action="#" th:action="@{/addCredentials}" th:object="${credentials}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="since" class="col-form-label">Since</label>
                        <input type="text" th:field="*{since}" class="form-control" id="since" placeholder="Since">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="cname" class="col-form-label">Company Name</label>
                        <input type="text" th:field="*{cname}" class="form-control" id="cname" placeholder="company name">
                    </div>
                     <div class="form-group col-md-6">
                      <label for="ctype" class="col-form-label">Company Type</label>
                      <input type="text" th:field="*{ctype}" class="form-control" id="ctype" placeholder="company type">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="tech_staff" class="col-form-label">Tech Staff</label>
                        <input type="text" th:field="*{tech_staff}" class="form-control" id="tech_staff" placeholder="tech staff">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="nontech_staff" class="col-form-label">Non Tech. Staff </label>
                        <input type="text" th:field="*{nontech_staff}" class="form-control" id="nontech_staff" placeholder="non tech. staff">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="credentialTerm" class="col-form-label">Credential Term</label>
                        <input type="text" th:field="*{credentialTerm}" class="form-control" id="credentialTerm" placeholder="credentials term">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="domain" class="col-form-label">Domain</label>
                        <input type="text" th:field="*{domain}" class="form-control" id="domain" placeholder="domain">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Add Credentials">
                        <a href="http://localhost:8088/CompetitorsIndex"><input type="submit" class="btn btn-primary" value="Back"></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>