<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>

    <meta charset="UTF-8">
    <title>Tender</title>
    <!-- No Bootstrap -->


    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

    <!-- Lineawesome CSS -->
    <link rel="stylesheet" href="assets/css/line-awesome.min.css">
    <link rel="stylesheet" href="assets/css/material.css">


    <!-- Select2 CSS -->
    <link rel="stylesheet" href="assets/css/select2.min.css">

    <!-- Datatable CSS -->
    <link rel="stylesheet" href="assets/css/dataTables.bootstrap4.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">

</head>
<body  layout:fragment="content">

<div th:switch="${user}" style="margin-top: 50px;">
    <div style="margin: 0 auto; max-width: 800px; text-align: center;">
        <h2 th:case="null">No activities defined!</h2>
        <div th:case="*">
            <h2 style="margin-bottom: 30px;">Select options for Tender and select to proceed</h2>
            <form th:action="@{/saveTenderGoNo}" method="post">
                <table style="width: 100%; border-collapse: collapse; border: 1px solid #ccc;">
                    <thead>
                    <tr>
                        <th style="padding: 10px; border: 1px solid #ccc;">select</th>

                        <th style="padding: 10px; border: 1px solid #ccc;">Activity</th>
                        <th style="padding: 10px; border: 1px solid #ccc;">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="activity, iterStat : ${user}">

                        <td style="padding: 10px; border: 1px solid #ccc;" ><input type="checkbox" name="masterIds" th:value="${activity.id}"/></td>

                        <td style="padding: 10px; border: 1px solid #ccc;" th:text="${activity.activity}"/>
                        <td style="padding: 10px; border: 1px solid #ccc;" th:text="${activity.description}"/>

                        </td>
                    </tr>
                    </tbody>
                </table>
                <input type="hidden" name="tenderId" th:value="${tenderid}"/>

                <div>
                    <input type="checkbox" name="gono" />
                    <label class="form-check-label" > Proceed with the tender</label>
                </div>


                <button type="submit" >submit</button>
            </form>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="assets/js/jquery-3.7.1.min.js"></script>

        <!-- Bootstrap Core JS -->
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
        <script src="assets/plugins/sweetalert/sweetalerts.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <!-- Datetimepicker JS -->
        <script src="assets/js/moment.min.js"></script>
        <script src="assets/js/bootstrap-datetimepicker.min.js"></script>
</body>
</html>
