<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Maintenance Entry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <style>
        .center-align {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
<div class="container-fluid my-5 center-align">
    <div class="col-md-6">
        <h2 class="mb-5">Maintenance Entry</h2>
        <form action="#" th:action="@{/Maintadd}" th:object="${user}" method="post">
            <div class="form-group">
                <label for="dept" class="col-form-label">Asset Name</label>
                <input type="text" th:field="*{nameOfAsset}" class="form-control" id="dept" placeholder="Asset Name">
            </div>
            <div class="form-group">
                <label for="division" class="col-form-label">Reported By</label>
                <input type="text" th:field="*{reportedBy}" class="form-control" id="division" placeholder="Reported By">
            </div>
            <div class="form-group">
                <label for="pdate" class="col-form-label">Reported Date</label>
                <input type="date" th:field="*{publishDate}" class="form-control" id="pdate">
            </div>
            <div class="form-group">
                <label for="duedate" class="col-form-label">Due Date</label>
                <input type="date" th:field="*{dueDate}" class="form-control" id="duedate">
            </div>
            <div class="form-group">
                <label for="nameOfWork" class="col-form-label">Issue Detail</label>
                <input type="text" th:field="*{Description}" class="form-control" id="nameOfWork" placeholder="Issue Detail">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </form>
    </div>
</div>
</body>
</html>
